.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  font-weight: 900;
  line-height: 1.2;
  width: 219px;
  margin: 0;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
}

.card__like-button_active {
  background-image: url(../images/like-button-active.svg);
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  cursor: pointer;
}

.card__trash-button:hover {
  opacity: 60%;
}
