/* @media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__title {
    margin: 30px 10px 0 0;
    display: flex;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
  }

  .profile__add-button {
    margin: 0 0 36px 0;
    width: 100%;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    position: relative;
    top: 35px;
  }

  .profile__image {
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 770px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .profile__add-button {
    max-width: 282px;
  }
} */
