.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  display: none;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s linear;
}

.popup__container {
  position: relative;
  width: 358px;
  height: 258px;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
}

.popup__container_type_image {
  padding: 0;
  max-height: 75vh;
  max-width: 75vw;
  display: flex;
  width: auto;
  height: auto;
  background: none;
}

.popup__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
}

.popup__close:hover {
  opacity: 60%;
}

.popup__heading {
  margin: 0 0 54px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__profile_title {
  margin-bottom: 5px;
  padding: 0 0 13px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 17px;
}

.popup__input_type_name {
  margin-bottom: 5px;
  padding: 0 0 13px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 17px;
}
.popup__description_type_name {
  margin-bottom: 5px;
  padding: 0 0 13px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 17px;
}

.popup__profile_description {
  margin-bottom: 5px;
  padding: 0 0 13px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
}

.popup__input_type_url {
  margin-bottom: 5px;
  padding: 0 0 13px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
}

.button {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 21.78px;
  cursor: pointer;
  border: none;
}

.popup__button:hover {
  opacity: 80%;
}

.popup__button:disabled {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 0;
  }

  .popup__form {
    padding: 0 22px;
  }

  .popup__close {
    bottom: calc(100% + 26px);
    left: calc(100% + -30px);
    width: 26px;
    height: 26px;
  }

  .popup__heading {
    font-size: 18px;
    padding: 25px 22px 0;
    height: 22px;
    margin-bottom: 75px;
  }

  .popup__profile_description {
    margin-bottom: 45px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 16.94px;
  }
}
