.card {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 51px 0 0;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card__list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background: transparent url(../images/trash.svg) center no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.card__delete-button:hover {
  opacity: 60%;
}

.card__info {
  display: flex;
  padding: 25px 20px;
  align-items: center;
  background: #fff;
  color: #000;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__title {
  max-width: 220px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url("../images/like-inactive.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.card__like-button_active {
  background-image: url("../images/like-active.png");
}

.card__like-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 580px) {
  .card {
    margin: 36px auto 0;
  }
}
