.header {
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}
.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 40px;
}

@media screen and (max-width: 720px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
