.page {
  font-family: Inter, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin-top: 45px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 920px) {
  .page__section {
    padding: 0 27px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 720px) {
  .page__section {
    padding: 0 10px;
  }

  .page {
    margin-top: 28px;
  }
}

@media screen and (max-width: 620px) {
  .page__section {
    padding: 0;
  }
}
