.page {
  max-width: 880px;
  background-color: #000;
  color: #fff;
  margin: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
